:root{
    --sm: 1.4rem;
    --md: 1.6rem;
    --lg: 1.8rem;
    --phantom-ship: #2C3333;
    --dark-slate-gray: #2E4F4F;
    --duvall: #0E8388; /* good on light background and as color background */
    --light-picnic-bay: #CBE4DE;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-family: 'Rajdhani', sans-serif;
    font-size: 62.5%;
}